<!DOCTYPE html>
<html lang="{{ langauge }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>{{ title }}</title>

<!--    <link href="favicon.png" rel="shortcut icon" type="image/x-icon">-->
<!--    <link href="css/base.css" rel="stylesheet">-->

<!--    <script src="js/base.min.js" charset="utf-8"></script>-->
</head>
<body>
    <header style="border: dot-dash blue;">
        <h3>header</h3>
    </header>

    <main style="border: dot-dash green;">
        {{{ body }}}
    </main>

    <footer style="border: dot-dash red;">
        <h3>footer</h3>
    </footer>
</body>
</html>
